<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar class="title">笔记</ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let list of menuList;index as i">
      <ion-item (click)="stateChange(list)">
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <ion-label>{{list}}</ion-label>
        <span class="count">0</span>
      </ion-item>
    </ion-list>
    <div class="line"></div>
    <ion-list>
      <ion-label class="sort">笔记分类</ion-label>
      <ion-item (click)="sortChange(list,i)" *ngFor="let list of noteSort;index as i">
        <ion-icon name="bookmark" slot="start" style="color:orange" *ngIf="i===0"></ion-icon>
        <ion-icon name="bookmark" slot="start" style="color:skyblue" *ngIf="i===1"></ion-icon>
        <ion-icon name="bookmark" slot="start" style="color: green;" *ngIf="i===2"></ion-icon>
        <ion-icon name="bookmark" slot="start" style="color: red;" *ngIf="i===3"></ion-icon>
        <ion-icon name="bookmark" slot="start" *ngIf="i===4"></ion-icon>
        <ion-label>{{list}}</ion-label>
        <span class="count">0</span>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header id="main-content">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title2">{{title}}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="header-tool">
    <ion-searchbar mode="ios" placeholder="搜索笔记" (ionInput)="searchNote(search)" #search></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="left">
    <ng-container *ngFor="let note of item;index as i">
      <ion-card class="normal" (click)="toDetail(i)" *ngIf="i%2===0">
        <p>{{note.data}}</p>
        <p>{{note.time}}</p>
      </ion-card>
    </ng-container>
  </div>
  <div class="right">
    <ng-container *ngFor="let note of item;index as i">
      <ion-card class="normal" (click)="toDetail(i)" *ngIf="i%2===1">
        <p>{{note.data}}</p>
        <p>{{note.time}}</p>
      </ion-card>
    </ng-container>
  </div>
</ion-content>
<ion-footer>
  <div class="new" (click)="detail()">
    <ion-icon name="add-outline"></ion-icon>
  </div>
  <ion-toolbar class="footer">
    <ion-grid>
      <ion-row>
        <ion-col class="active">
          <div>
            <ion-icon name="reader-outline"></ion-icon>
          </div>
          <div style="margin-top: -5px;">
            <ion-label>笔记</ion-label>
          </div>
        </ion-col>
        <ion-col>
          <div>
            <ion-icon name="checkmark-circle-outline"></ion-icon>
          </div>
          <div style="margin-top: -5px;">
            <ion-label>待办</ion-label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>